<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Liste</servlet-name>
        <servlet-class>servlets.Liste</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>Carte</servlet-name>
        <servlet-class>servlets.Carte</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>Detail</servlet-name>
        <servlet-class>servlets.Detail</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>Graphes</servlet-name>
        <servlet-class>servlets.Graphes</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>Pdf</servlet-name>
        <servlet-class>servlets.Pdf</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>Detail</servlet-name>
        <url-pattern>/detail</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>Carte</servlet-name>
        <url-pattern>/carte</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>Liste</servlet-name>
        <url-pattern>/liste</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>Graphes</servlet-name>
        <url-pattern>/graphes</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>Liste</servlet-name>
        <url-pattern>/index.html</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>Pdf</servlet-name>
        <url-pattern>/pdf</url-pattern>
    </servlet-mapping>
</web-app>
